<div class="container mx-auto col-3" style="margin:300px 0">
    <h1>Vui lòng xác thực tài khoản trước khi sử dụng</h1>
    <button id="resetOTP" style="margin-top: 20px; color: #28a745; background: none; border: none;">Gửi lại mã xác thực ?</button>
</div>

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/responsive.css">
{{/section}}

{{#section 'js'}}
    <script>
        {{#if errorOTP}}
            swal({
                title: "Sorry !",
                text: "{{errorOTP}}",
                icon: "warning",
                dangerMode: true,
            });
        {{/if}}

        $("#resetOTP").on("click", function() {
            $.get('/register/resendOTP', function(data) {
                swal("Thành công!", "Link xác thực đã được gửi lại vào email đăng ký!", "success");
            });
        });
    </script>
{{/section}}