<div class="container mx-auto col-3" style="margin:300px 0">
    <form action="/register/OTP" method="post">
        <div class="form-group">
            <label for="otp">OTP code</label>
            <input type="text" class="form-control" id="otp" name="otp">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/responsive.css">
{{/section}}