<div class="container mx-auto col-3" style="margin:200px 0">
    <h1>Đăng ký tài khoản</h1>
    <form action="/register" method="post" id="form_register">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>

        <div class="form-group">
            <label for="name">Họ tên</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="form-group">
            <label for="password">Nhập mật khẩu</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <div class="form-group">
            <label for="passAgain">Nhập lại mật khẩu</label>
            <input type="password" class="form-control" id="passAgain" name="passAgain">
        </div>

        <button type="submit" class="btn btn-success col">Đăng ký</button>
    </form>
</div>

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/responsive.css">
{{/section}}

{{#section 'js'}}
    <script>
        $('document').ready(function() {
            $('#form_register').submit(async function(e) {
                e.preventDefault();
                const email = $('#email').val();
                var isExisted = false;
                
                await $.get(`/register/checkMail/${email}`, function (data, status) {
                    if (data == true) isExisted = true;
                    else isExisted = false;
                });

                if (isExisted) {
                    swal({
                        title: "Sorry !",
                        text: "Email đã tồn tại!",
                        icon: "warning",
                        dangerMode: true,
                    });
                    return false;
                }
                else {
                    regex = /^(?=.*\d).{8,12}$/;
                    if (!regex.test($('#password').val())) {
                        swal({
                            title: "Sorry !",
                            text: "Mật khẩu phải từ 8-12 ký tự và bao gồm ít nhất một chữ số !",
                            icon: "warning",
                            dangerMode: true,
                        }); 
                        return false;
                    }
                    if ($('#password').val() != $('#passAgain').val()) {
                        swal({
                            title: "Sorry !",
                            text: "Nhập lại mật khẩu không đúng !",
                            icon: "warning",
                            dangerMode: true,
                        });
                        return false;
                    } else {
                        e.currentTarget.submit();
                        return true;
                    };
                }
            });
        });
    </script>
{{/section}}