<form action="/course/add_course" method="POST" class="form" enctype="multipart/form-data">
  <div class="edit h-100 w-100">
    <div class="edit_chapter_container">
      <div class="container-fluid mx-auto">
        <div class="row">
          <div class="col-lg-7">
            <div class="edit_form">
              <div class="edit_chapter_title">Đăng khóa học</div>
              <div>
                <div class="form_title">Tên khóa học</div>
                <input type="text" class="comment_input" name="name" required="required">
              </div>
              <div>
                <div class="form_title">Mô tả ngắn gọn nội dung khóa học</div>
                <input type="text" class="comment_input" name="briefDes" required="required">
              </div>
              <div>
                <div class="form_title">Mô tả chi tiết nội dung khóa học</div>
                <textarea id="descEditor" name="description"></textarea>
              </div>
              <div class="d-flex flex-column justify-content-center">
                <label for="isFinished" class="form_title font-weight-bold">Hãy check nếu nội dung khóa học đã hoàn
                  thành</label>
                <div class="d-flex align-items-center">
                  <input type="checkbox" name="isFinished" id="cbProgress">
                  <span id="cbProgText" class="font-weight-bold">Đã hoàn thành</span>
                </div>
              </div>

              <div class="form-group">
                <label class="form_title" for="category">Lĩnh vực:</label>
                <select name="category" class="form-control" id="category">
                  {{#if categoryList}}
                  {{#each categoryList as |c|}}
                  <option>{{c.name}}</option>
                  {{/each}}
                  {{else}}
                  <option>Chưa có dữ liệu</option>
                  {{/if}}
                </select>
              </div>

              <div>
                <div class="form_title">Giá</div>
                <input type="number" class="comment_input" name="price" min="0" value="0" required="required">
              </div>
            </div>

            <div class="upvideo">
              <div class="edit_chapter_title">
                <div class="d-flex justify-content-between">
                  <div class="">Soạn chương</div>
                  <div class="d-flex">
                    <div class="btn btn-danger rm-chapters mr-lg-1"><i class="far fa-trash-alt"></i></div>
                    <div class="btn btn-success btn-add-chapter d-flex"><i class="fa fa-plus align-self-center"
                        aria-hidden="true"></i></div>
                  </div>
                </div>
              </div>

              <div class="chapter_title form_title">
                <div id="chapter_box">
                  {{!-- Thêm ô input tên mỗi chương ở đây --}}
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-5 text-center">

            {{!-- Ảnh đại diện khóa học --}}
            <div class="course_thumbnail">
              <div class="edit_chapter_title">Ảnh đại diện của khóa học</div>
              <div class="thumbnail_box d-flex w-100 justify-content-center">
                <div class="file-loading">
                  <input id="thumbnail" name="thumbnail" type="file" class="mt-1">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="comment_button trans_200 mx-auto w-100">Đăng</button>
        </div>
      </div>
    </div>
  </div>
</form>

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/styles/contact.css">
<link rel="stylesheet" type="text/css" href="/styles/contact_responsive.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/css/fileinput.min.css">

<style>
  .edit {
    width: 100%;
    padding-bottom: 100px;
  }

  .edit_map {
    width: 100%;
  }

  .edit_chapter_container {
    margin-top: 150px;
  }

  .edit_chapter_title {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: 700;
    color: #384158;
  }

  .edit_form {
    padding-right: 10px;
  }

  .edit_chapter {
    padding-left: 45px;
  }

  .edit_chapter_text {
    margin-top: 27px;
  }

  .edit_chapter_location {
    margin-top: 28px;
  }

  .edit_chapter_location_title {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 700;
    color: #384158;
  }

  #cbProgText {
    color: #384158;
    margin-left: 5px;
  }

  .form div {
    margin: 15px 0px;
  }

  .course_thumbnail .krajee-default.file-preview-frame,
  .course_thumbnail .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
  }

  .course_thumbnail {
    display: inline-block;
  }

  .course_thumbnail .file-input {
    display: table-cell;
    width: 82%;
  }

  .file-preview-thumbnails {
    display: flex;
    justify-content: center;
  }

  #chapter_box {
    max-height: 450px;
    overflow-y: auto;
    border-top: 1px solid #14BDEE;
  }

  .new-chapter {
    margin-right: 15px !important;
  }

    /* width */
  div::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  div::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  div::-webkit-scrollbar-thumb {
    background: #14bdee;
  }

  /* Handle on hover */
  div::-webkit-scrollbar-thumb:hover {
    background: #14B4E0;
  }
</style>

{{/section}}

{{#section 'jsHead'}}
<script src='https://cdn.tiny.cloud/1/zkbs0drivq1btxfqv1gxw0h4ci8re203rj131aojg9mu74y2/tinymce/5/tinymce.min.js'
  referrerpolicy="origin">
  </script>
<script>
  tinymce.init({
    selector: '#descEditor',
    height: 450,
    plugins: 'paste link autolink lists table',
    menubar: false,
    toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
    ],
  });
</script>
{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/themes/fas/theme.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/js/locales/vi.min.js"></script>
<script>
  $("#thumbnail").fileinput({
    theme: "fas",
    showClose: false,
    showCaption: false,
    showBrowse: false,
    browseOnZoneClick: true,
    removeLabel: '',
    removeIcon: '<i class="fas fa-trash" aria-hidden="true"></i>',
    language: 'vi',
    msgErrorClass: 'alert alert-block alert-danger',
    layoutTemplates: { main2: '{preview} ' + ' {remove} {browse}' },
    allowedFileTypes: ["image"]
  }).hide();

  let _index_chapter = 0;

  $('.rm-chapters').click(() => {
    if (_index_chapter >= 20) {
      $('.btn-add-chapter').removeClass('btn-secondary');
      $('.btn-add-chapter').addClass('btn-success');
    }
    $('.new-chapter').remove()
    _index_chapter = 0
  })

  $('.btn-add-chapter').click(() => {
    if (_index_chapter >= 20) {
      $('.btn-add-chapter').removeClass('btn-success');
      $('.btn-add-chapter').addClass('btn-secondary');
      return;
    }

    $('#chapter_box').append(`
    <div class="new-chapter">
      <div class="chapter_title d-flex justify-content-between" style="font-size: 1.4rem;">
        <div class="chapter_label">Tên chương ${++_index_chapter}</div>
        <div class="btn btn-danger btn-rm-chapter"><i class="fa fa-minus" aria-hidden="true"></i></div>
      </div>
      <input type="text" class="comment_input" name="chapter_title" required>
      <input name="chapter" type="file" class="video_chapter">
    </div>
  </div>`)

    $('.video_chapter').fileinput({
      theme: "fas",
      showBrowse: true,
      showRemove: false,
      showCaption: true,
      showUpload: false,
      showCancel: false,
      dropZoneEnabled: false,
      showPreview: false,
      allowedFileTypes: ["video"],
      language: 'vi'
    });

    $('.clearfix').css("margin", "0px")
      .parent().css({ "margin": "0px", "padding": "0px" })

    $('.input-group-btn.input-group-append').css("margin", "0px")

    $('#chapter_box .btn-rm-chapter').hide();
    $('#chapter_box .new-chapter:last-child')
      .find('.btn-rm-chapter').show();

    $('.btn-rm-chapter').click(function () {
      if (_index_chapter >= 20) {
        $('.btn-add-chapter').removeClass('btn-secondary');
        $('.btn-add-chapter').addClass('btn-success');
      }
      $(this).closest('.new-chapter').remove();
      _index_chapter = $('.new-chapter').length
      $('#chapter_box .btn-rm-chapter').hide();
      $('#chapter_box .new-chapter:last-child')
        .find('.btn-rm-chapter').show();
    })
  })

</script>
{{/section}}